// 样式覆盖
body {
  font-family: 'PingFangSC-Regular';
  // 清除浮动
  .clearfix:after {
    content: "";
    display: block;
    clear: both;
  }
}
/* ------ 动画 ------- */
@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}